@use '../../scss/helpers/' as *;

.delivery {
  padding-block: var(--sectionPadding-y);

  &Items {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (width <= 990px) {
      row-gap: 80px;
    }

    @include mobile {
      row-gap: 20px;
    }

    & > :nth-child(1) {
      position: relative;
      flex-direction: row-reverse;
      justify-content: start;

      @include mobile {
        flex-direction: column;
        gap: 10px;
      }

      &::after {
        position: absolute;
        content: '';
        right: 20px;
        top: 20px;
        width: 150px;
        height: 185px;
        background-image: url(/images/delivery/decor-right.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;

        @media (width <= 950px) {
          right: 0px;
          top: 75px;
        }

        @include mobile {
          width: 80px;
          height: 100px;
          right: 0px;
          top: 0px;
        }
      }

      .itemTitle {
        position: relative;

        &::before {
          position: absolute;
          content: '-';
          left: 20px;
          top: 0;
          width: 10px;
          color: var(--color-text);
        }
      }
    }

    & > :nth-child(2) {
      position: relative;
      justify-content: end;

      &::before {
        position: absolute;
        content: '';
        left: 20px;
        top: -70px;
        width: 232px;
        height: 175px;
        background-image: url(/images/delivery/decor-left.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media (width <= 950px) {
          left: -20px;
          top: -127px;
        }

        @include mobile {
          width: 113px;
          height: 85px;
          left: 0px;
          top: -5px;
        }
      }

      .itemTitle {
        position: relative;

        &::before {
          position: absolute;
          content: '-';
          right: 20px;
          top: 0;
          width: 10px;
          color: var(--color-text);
        }
      }
    }
  }
}

.item {
  height: 125px;
  display: flex;
  align-items: center;

  @include mobile {
    height: auto;
    flex-direction: column;
    gap: 10px;
  }

  &Title {
    padding-inline: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    color: var(--color-text);
    text-transform: capitalize;
  }

  &Icons {
    padding-block: 24px;
    min-width: 610px;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #edf4d2;

    @media (width <= 850px) {
      min-width: 520px;
    }

    @include mobile {
      padding-block: 24px;
      min-width: 100%;
    }

    @media (width <= 450px) {
      flex-direction: column;
      gap: 20px;
    }

    &Wrapper {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
    }
  }
}

.iconTitle {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: fluid(20, 16);
  line-height: 1.5;
  color: var(--color-text);
  text-align: center;
}
