@use '../../scss/helpers/' as *;

.hero {
  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 610px;

    @media (width <= 1366px) {
      height: 504px;
    }

    @media (width <= 900px) {
      height: 827px;
    }
  }
  @media (width <= 590px) {
    height: 978px;
  }
  @media (width <= 590px) {
    height: 867px;
  }
}
