@use '../../scss/helpers/' as *;

.hero-slide {
  &__wrapper {
    padding-top: 120px;
    display: grid;
    grid-template-columns: minmax(450px, 1fr) 1fr;
    column-gap: 50px;

    @include laptop {
      max-height: 504px;
      padding-top: 10px;
      grid-template-columns: 500px 1fr;
    }

    @media (width <= 990px) {
      grid-template-columns: 450px 1fr;
    }
    @media (width <= 930px) {
      grid-template-columns: 400px 1fr;
    }

    @media (width <= 900px) {
      min-height: 100vh;
      min-height: 100dvh;
      display: flex;
      flex-direction: column;
    }

  }

  &__content {
    padding-bottom: 100px;

    @include laptop {
      padding-bottom: 80px;
    }

    @media (width <= 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
.slide-images {
  min-width: 100%;
  min-height: 100%;
  position: relative;

  @include laptop {
    min-width: auto;
    max-height: 500px;
  }

  @media (width <= 900px) {
    max-height: 250px;
    min-height: 400px;
  }

  @media (width <= 600px) {
    max-width: 300px;
    min-height: 320px;
    margin-inline: auto;
  }

  &__bottle {
    max-width: 100%;
    position: absolute;
    height: 646px;
    width: 280px;
    top: calc(50% - 80px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(2deg);
    z-index: 10;




    @include laptop {
      max-height: 456px;
      max-width: 177px;
      top: 50%;
      transform: translate(-50%, -60%) rotate(2deg);
    }

    @media (width <= 900px) {
      max-height: 406px;
      max-width: 150px;
      transform: translate(-50%, -53%) rotate(2deg);
    }

    @media (width <= 600px) {
      max-width: 117px;
      max-height: 305px;
      transform: translate(-50%, -59%) rotate(2deg);
    }
  }
  &__delicius {
    max-width: 100%;
    position: absolute;
    top: calc(50% + 130px);
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    z-index: 9;

    @include laptop {
      max-height: 230px;
      max-width: 230px;
      top: 50%;
      transform: translate(-65%, -10%);
    }
    @media (width <= 600px) {
      max-width: 142px;
      max-height: 120px;
      transform: translate(-85%, 9%);
    }
  }
  &__bg {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    @include laptop {
      max-height: 393px;
      max-width: 393px;
      transform: translate3d(-50%, -50%, 0);
    }
    @media (width <= 600px) {
      max-width: 280px;
      max-height: 280px;
    }
  }
}

.slide__header {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

  @media(width <= 900px) {
    margin-bottom: 20px;
    gap: 10px;
  }

  &-title {
    @media (width <= 900px) {
      margin-inline: auto;
    }

    &--green {
      color: var(--color-green);
    }
    &--emerald {
      color: var(--color-emerald);
    }
    &--red {
      color: var(--color-red);
    }
    &--orange {
      color: var(--color-orange);
    }
  }
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 15px;

  @media (width <= 900px) {
    justify-content: center;
    margin-inline: auto;
  }

  &__link {
    padding: 7px 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    background-color: transparent;

    &--green {
      color: #bfd087;
      border: 1px solid #bfd087;
      &.active {
        color: #546b06;
        background-color: #bfd087;
        border-color: #bfd087;
      }
    }
    &--red {
      color: #e8847e;
      border: 1px solid #e8847e;

      &.active {
        color: #73120d;
        background-color: #e8847e;
        border-color: #e8847e;
      }
    }
    &--orange {
      color: #f4b979;
      border: 1px solid #f4b979;
      &.active {
        color: #bd690d;
        background-color: #f4b979;
        border-color: #f4b979;
      }
    }

    &--emerald {
      color: #69d49e;
      border: 1px solid #69d49e;

      &.active {
        color: #116137;
        background-color: #69d49e;
        border-color: #69d49e;
      }
    }
  }

  :not(:first-child) {
    margin-left: fluid(40, 15);
  }
}
.slide-body {
  display: grid;
  row-gap: fluid(28, 24);

  @media (width <= 1080px) {
    row-gap: 20px;
  }


  &__title {
    @media (width <= 900px) {
      text-align: center;
    }
  }

  &__text {
    max-width: 613px;
    @media (width <= 900px) {
      text-align: center;
    }
  }

  &__count {
    @media (width <= 900px) {
      margin-inline: auto;
    }
  }
}

.body-count {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 25px;

  &__plus,
  &__minus {
    border: 1px solid rgba(148, 148, 148, 0.5);
    border-radius: 8px;
    width: 40px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: var(--color-text);
    aspect-ratio: 1;

    background-color: transparent;
    cursor: pointer;
  }
  &__minus {
  }
  &__value {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: #688800;
  }
}

.body-buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;

  @media(width <= 900px) {
    justify-content: center;
  }

  @media (width <= 600px) {
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
  }

  &-add {
    padding: 8px 48px;

    @media (width <= 600px) {
      justify-content: center;
      min-width: 100%;
    }
  }

  &-more {
    padding: 8px 48px;
    @media (width <= 600px) {
      justify-content: center;
      min-width: 100%;
    }
  }
}
