@use '../../scss/helpers/' as *;

.hero-slide {
  &__wrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: minmax(450px, 1fr) 1fr;
    column-gap: 50px;

    @include laptop {
      max-height: 504px;
      padding-top: 10px;
      grid-template-columns: 500px 1fr;
    }

    @media (width <= 990px) {
      grid-template-columns: 450px 1fr;
    }
    @media (width <= 930px) {
      grid-template-columns: 400px 1fr;
    }

    @media (width <= 900px) {
      max-height: none;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 40px;
    }
  }

  &__content {
    padding-bottom: 100px;

    @include laptop {
      padding-bottom: 80px;
    }

    @media (width <= 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
    }
  }
}

.slide-images {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;

  @media (width <= 450px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;

    @media (width <= 1366px) {
      margin-top: 65px;
      margin-left: 40px;
    }

    @media (width <= 900px) {
      margin-top: 0;
      margin-left: 0;
      margin-block: 0px;
      //  margin: 0 auto;
    }

    @media (width <= 450px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      position: relative;
    }
  }

  &__bg {
    max-width: 560px;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;

    @media (width <= 1366px) {
      max-width: 393px;
    }

    @media (width <= 900px) {
      margin-right: 12%;
    }

    @media (width <= 550px) {
      margin-right: 20%;
    }

    @media (width <= 450px) {
      max-width: 280px;
      margin: 0 auto;
      display: block;
      position: relative;
      left: 0;
      right: 0;
      margin-right: 25%;
    }
  }

  &__bottle {
    position: absolute;
    z-index: 3;
    min-height: 105%;
    width: 32%;
    bottom: 21px;
    left: 28%;

    @media (width <= 900px) {
      position: relative;
      min-height: auto;
      max-height: 430px;
      height: auto;
      max-width: 150px;
      bottom: 15px;
      left: 230px;
    }

    @media (width <= 450px) {
      max-height: 300px;
      bottom: 20px;
      left: 45%;
    }

    @media (width <= 400px) {
      left: calc((100vw / 2));
      bottom: 0;
    }
  }

  &__delicius {
    position: absolute;
    z-index: 2;
    bottom: 7px;
    left: 37%;
    width: 40%;

    @media (width <= 900px) {
      min-height: auto;
      max-height: 430px;
      max-width: 180px;
      bottom: 4%;
      left: 47%;
    }

    @media (width <= 450px) {
      max-height: 122px;
      max-width: 120px;
      left: 45%;
      bottom: 6%;
    }
  }
}

.slide__header {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

  @media (width <= 900px) {
    margin-bottom: 20px;
    gap: 10px;
  }

  &-title {
    @media (width <= 900px) {
      margin-inline: auto;
    }

    &--green {
      color: var(--color-green);
    }

    &--emerald {
      color: var(--color-emerald);
    }

    &--red {
      color: var(--color-red);
    }

    &--orange {
      color: var(--color-orange);
    }
  }
}

.header-links {

  > ul {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 15px;
    list-style: none;

    @media (width <= 900px) {
      justify-content: center;
      align-items: center;
      margin-inline: auto;
    }
  }


  &__link {
    padding: 7px 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    background-color: transparent;

    &--green {
      color: #bfd087;
      border: 1px solid #bfd087;

      &.active {
        color: #546b06;
        background-color: #bfd087;
        border-color: #bfd087;
      }
    }

    &--red {
      color: #e8847e;
      border: 1px solid #e8847e;

      &.active {
        color: #73120d;
        background-color: #e8847e;
        border-color: #e8847e;
      }
    }

    &--orange {
      color: #f4b979;
      border: 1px solid #f4b979;

      &.active {
        color: #bd690d;
        background-color: #f4b979;
        border-color: #f4b979;
      }
    }

    &--emerald {
      color: #69d49e;
      border: 1px solid #69d49e;

      &.active {
        color: #116137;
        background-color: #69d49e;
        border-color: #69d49e;
      }
    }
  }

  :not(:first-child) {
    margin-left: fluid(40, 15);
  }
}

.slide-body {
  display: grid;
  row-gap: fluid(28, 24);

  @media (width <= 1080px) {
    row-gap: 20px;
  }

  &__title {
    @media (width <= 900px) {
      text-align: center;
    }
  }

  &__text {
    max-width: 613px;
    @media (width <= 900px) {
      text-align: center;
    }
  }

  &__count {
    @media (width <= 900px) {
      margin-inline: auto;
    }
  }
}

.body-count {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 25px;

  &__plus,
  &__minus {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(148, 148, 148, 0.5);
    border-radius: 8px;
    width: 40px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: var(--color-text);
    aspect-ratio: 1;
    background-color: transparent;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      color: var(--color-disabled);
      border-color: var(--color-disabled);
    }

    @include hover {
      border-color: var(--color-accent);
    }
  }

  &__minus {
  }

  &__value {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: #688800;
    display: inline-block;

  }
}

.body-buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;

  @media (width <= 900px) {
    justify-content: center;
  }

  @media (width <= 600px) {
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
  }

  &-add {
    padding: 8px 48px;

    @media (width <= 600px) {
      justify-content: center;
      min-width: 100%;
    }
  }

  &-more {
    padding: 8px 48px;
    @media (width <= 600px) {
      justify-content: center;
      min-width: 100%;
    }
  }
}

[aria-hidden="true"] {
  pointer-events: none;
}
