@use '../../scss/helpers/' as *;

.header {
  &__container {
    border-right: 1px solid red;
    border-left: 1px solid red;
  }

  &__inner {
    margin-top: 55px;
    display: flex;
    align-items: center;

    @media (width <= 1366px) {
      margin-top: 0px;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width <= 1366px) {
      width: 212px;
      height: 212px;
    }

    @media (width <= 1100px) {
      width: 180px;
      height: 180px;
    }
    @media(width <= 900px) {
      width: 128px;
      height: 128px;

    }

    &::before{
      position: absolute;

      content: '';
      width: fluid(316, 180);
      height: fluid(316, 180);
      left: -30%;
      bottom: -50%;
      border-radius: 100%;
      background: var(--color-green);
      z-index: -1;

      @media(width <= 1366px) {
        left: 5%;
        bottom: -10%;
      }
      @media(width <= 1100px) {
        left: 0%;
        bottom: -10%;
      }

      @media(width <= 900px) {
        width: 128px;
        height: 128px;
        left: 0;
        bottom: 0;
      }
    }

    svg {
      margin-left: fluid(78, 35);
      width: fluid(76, 37);
      height: fluid(155, 75);

      @media(width <= 900px) {
       margin-left: 0px;
      }

      path {
        fill: #fff;
      }
    }
  }

  &__menu {
    margin-left: fluid(320, 0);
    align-self: center;

    @media (width <= 1366px) {
      margin-left: fluid(170, 0);
    }

    @media (width <= 1100px) {
      margin-left: 120px;
    }

    @media (width <= 920px) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 88px;

      @media (width <= 1450px) {
        column-gap: 64px;
      }

      @media (width <= 1100px) {
        column-gap: 30px;
      }
    }

    &-link {
      font-family: 'El Messiri, sans-serif';
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: var(--color-green);
    }
  }

  &__burger-button {
    display: none;
    width: 40px;
    height: 40px;

    margin-left: auto;
    margin-right: 25px;
    background: transparent;
    border: none;
    cursor: pointer;

    @media (width <= 920px) {
      display: block;
    }

    &--line {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 1.25px;
      border-radius: 5px;
      background: var(--color-green);
      transform: translate(-3px, -3px);
      transition: all 0.2s ease;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 1.25px;
        border-radius: 5px;
        background: var(--color-green);
        transition: transform 0.2s ease;
      }

      &::before {
        top: 8px;
        left: 0;
      }

      &::after {
        bottom: 8px;
        left: 0;
      }
    }

    &.active {
      .header__burger-button--line {
        background: transparent;

        &::before {
          transform: rotate(-45deg) translate(6px, -5px);
        }

        &::after {
          transform: rotate(45deg) translate(6px, 5px);
        }
      }
    }
  }

  &__cart {
    cursor: pointer;

    @media (width > 920px) {
    margin-left: auto;
    }

    @media (width <= 1450px) {
      margin-right: fluid(70, 20);
    }

    svg {
      path {
        fill: var(--color-green);
      }
    }
  }
}
