@use 'helpers' as *;

:root {
  // colors
  --color-dark: #000;
  --color-white: #fff;
  --color-text: #4a4a4a;

  --color-green: #688800;
  --color-green-light: #bfd087;
  --color-emerald: #009246;
  --color-orange: #e67f10;
  --color-red: #d73a31;

  --color-bg--darkgreen: #728536;
  --color-bg--lightgreen: #edf4d2;
  --color-accent: red;

  --red-gradient: linear-gradient(321deg, #99160e 0%, #e84239 100%);
  --green-gradient: linear-gradient(321deg, #536614 0%, #97c20b 100%);
  --emerald-gradient: linear-gradient(320deg, #076534 0%, #00db69 100%);
  --orange-gradient: linear-gradient(324deg, #ba6400 0%, #ff9d34 100%);

  --gradient: linear-gradient(
    180deg,
    rgba(226, 211, 206, 0) 0%,
    rgba(226, 211, 206, 0.71) 42.71%,
    #e2d3ce 100%
  );

  --border-radius-50: 50px;

  // typography

  --font-family-base: 'Roboto', sans-serif;
  --font-family-title: 'Amatic SC', sans-serif;

  --container-width: 1500px;
  --container-padding-x: 16px;

  // @include laptop {
  //   --container-width: #{rem(1280)};
  // }

  --transition-duration: 0.2s;
}
